<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="hostName" value="enterYourHostNameHere"/>
    <add key="userName" value="enterYourUserNameHere"/>
    <add key="password" value="enterYourPasswordHere"/>
    <add key="sshHostKeyFingerprint" value="entersshHostKeyFingerprintHere"/>
  </appSettings>
</configuration>
